<header>
        <div id="logo"><a href="/blog"></a></div>
        <nav class="topnav" id="topnav">
          <a href="/blog"><span>首页</span><span class="en">Protal</span></a>
          
          <a href="/techshare"><span>技术分享</span><span class="en">Share</span></a>
          <a href="/life"><span>慢生活</span><span class="en">Life</span></a>
          <!-- <a href="/doing"><span>碎言碎语</span><span class="en">Doing</span></a> -->
          <a href="/wiki"><span>Wiki</span><span class="en">Wiki</span></a>
          <a href="/about"><span>关于</span><span class="en">About</span></a>
          <!-- <a href="/gustbook"><span>留言版</span><span class="en">Gustbook</span></a></nav> -->
        </nav>
</header>
