<meta charset='utf-8' />
<meta name="keywords" content="个人博客" />
<meta name="description" content="个人博客" />
<meta name="apple-mobile-web-app-capable" content="no">
<meta content='True' name='HandheldFriendly' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="shortcut icon" href="../assets/images/bitbug_favicon.ico" >


<link rel="stylesheet" media="screen" href="/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" media="screen" href="/assets/css/pagebar.css"/>

<script type="text/javascript" src="/views/admin/style/js/jquery.js"></script>
<script src="/assets/js/bootstrap-3.3.2.min.js"></script>
<script src="/assets/js/juicer.js"></script>
<script type="text/javascript" src="/assets/js/jquery.pagebar.js"></script>
<script src="/assets/libs/jquery/jquery.caret.min.js"></script>
<script src="/assets/libs/jquery/jquery.atwho.js"></script>
<script type="text/javascript">
    var APP = {
        pwd_secret:"0bfe35421edab14541ec9ee17ccba443"
    };
</script>
<link href="/views/blog/css/base.css" rel="stylesheet">
<link href="/views/blog/css/right.css" rel="stylesheet">
<!--[if lt IE 9]>
 <script src="js/modernizr.js"></script>
 <![endif]-->
